@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  font-family: Outfit;
}

select, input, textarea{
  border: 1px solid #c2c2c2;
  outline-color: #c09c8b;
  border-radius: 4px;
}

a.active{
  background-color: #fff;
  border-color: #c09c8b;
}